USE [PWCL]
GO
/****** Object:  StoredProcedure [dbo].[BP_Audit_Report]    Script Date: 13/06/2017 02:19:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--[BP_Audit_Report] 'J3000005','J3000005','20170613','20170613'

ALTER PROCEDURE [dbo].[BP_Audit_Report]
		@FromCardcode Nvarchar(40) ,
		@ToCardcode Nvarchar(40),
		@FromDate Datetime,
		@ToDate Datetime


AS
BEGIN
----DECLARE @FromCardcode Nvarchar(40) ,
----		@ToCardcode Nvarchar(40),
----		@FromDate Datetime,
----		@ToDate Datetime

----		SET @FromCardcode = 'S1000471'
----		SET @ToCardcode = 'S1000471'
----		SET @FromDate = '20150711'
----		SET @ToDate = '20160711'

	-- SET NOCOUNT ON added to prevent extra result sets from
		-- interfering with SELECT statements.
	SET NOCOUNT ON;

if exists(select * from dbo.sysobjects t1 where t1.xtype = 'U' and t1.id = OBJECT_ID(N'TempACRD'))
begin
drop table TempACRD
end

if exists(select * from dbo.sysobjects t1 where t1.xtype = 'U' and t1.id = OBJECT_ID(N'TempOCRDPerson'))
begin
drop table TempOCRDPerson
end
if exists(select * from dbo.sysobjects t1 where t1.xtype = 'U' and t1.id = OBJECT_ID(N'#OCRDTemp'))
begin
drop table #OCRDTemp
end
if exists(select * from dbo.sysobjects t1 where t1.xtype = 'U' and t1.id = OBJECT_ID(N'#CRD1Temp'))
begin
drop table #CRD1Temp
end
if exists(select * from dbo.sysobjects t1 where t1.xtype = 'U' and t1.id = OBJECT_ID(N'TempOCRD'))
begin
drop table TempOCRD
end
if exists(select * from dbo.sysobjects t1 where t1.xtype = 'U' and t1.id = OBJECT_ID(N'TempCRD1'))
begin
drop table TempCRD1
end
if exists(select * from dbo.sysobjects t1 where t1.xtype = 'U' and t1.id = OBJECT_ID(N'TempACR'))
begin
drop table TempACR
end
if exists(select * from dbo.sysobjects t1 where t1.xtype = 'U' and t1.id = OBJECT_ID(N'TempOCRDF'))
begin
drop table TempOCRDF
end
if exists(select * from dbo.sysobjects t1 where t1.xtype = 'U' and t1.id = OBJECT_ID(N'#ACR2Temp'))
begin
drop table #ACR
end
if exists(select * from dbo.sysobjects t1 where t1.xtype = 'U' and t1.id = OBJECT_ID(N'#ACPRTemp'))
begin
drop table #ACPRTemp
end
if exists(select * from dbo.sysobjects t1 where t1.xtype = 'U' and t1.id = OBJECT_ID(N'TempARPC'))
begin
drop table TempARPC
end


  Select Row_Number() over (order by Col .name asc) as id,   isnull(des.Descr,Col .name) ColDesc, Col .name into #OCRDTemp
from sys .all_columns Col Inner join sys .tables tbl on Col .object_id = tbl .object_id 
left outer join CUFD des on des.TableID = tbl.name and   Col .name =  'U_'+ des.AliasID  
where tbl .name = 'OCRD' and Col .name Not in ('UpdateDate','CreateDate','LogInstanc','UserSign2','UserSign','Address','ZipCode','AddrType','Block','Building','City','Country',
'County','BillToDef','ZipCode','State1','Address','StreetNo','MailAddrTy','MailBlock','MailCity','MailCountr','MailCounty','ShipToDef','MailZipCod','State2','MailAddres',
'MailStrNo','MailBuildi'
,'AccCritria','AddID','Affiliate','AtcEntry','AutoCalBCG','AutoPost','AvrageLate','BackOrder','Balance','BalanceFC','BalanceSys','BalTrnsfrd'
,'BCACode','BlockDunn','BNKCounter','BoEDiscnt','BoEOnClct','BoEPrsnt','Box1099','Business','CardValid','CDPNum','CertBKeep','CertWHT','chainStore',
'ChecksBal','CollecAuth','CommGrCode','Commission','ConCerti','ConnBP','CpnNo','CrtfcateNO','DataSource','DatevFirst','DdctFileNo','DdctOffice',
'DdctPrcnt','DdgKey','DdtKey','DebPayAcct','Deleted','DocEntry','DpmClear','DpmIntAct','DscntObjct','DscntRel','DunnDate','DunnLevel','ITWTCode',
'KBKCode','LangCode','LetterNum','ListNum','LocMth','MainUsage','MivzExpSts','MltMthNum','MTHCounter','NINum','NTSWebSite','Number','ObjType','OKATO'
,'OKTMO','OpCode347','OprCount','OrderBalFC','OrderBalSy','OrdersBal','OtrCtlAcct','Pager','PartDelivr','PlngGroup','TaxIdIdent','TaxRndRule','ThreshOver'
,'TolrncDays','TpCusPres','TypeOfOp','TypWTReprt','SefazReply','SefazDate','SefazCheck','SCAdjust','RoleTypCod','RelCode','RcpntID','','''')

  Select Row_Number() over (order by Col .name asc) as id,   isnull(des.Descr,Col .name) ColDesc, Col .name into #CRD1Temp
from sys .all_columns Col Inner join sys .tables tbl on Col .object_id = tbl .object_id 
left outer join CUFD des on des.TableID = tbl.name and   Col .name =  'U_'+ des.AliasID  
where tbl .name = 'CRD1' and Col .name Not in ('CreateDate','UpdateDate','LogInstanc','UserSign2','UserSign','ObjType','LineNum','AdresType','CardCode','LicTradNum')

Select Row_Number() over (order by Col .name asc) as id,   isnull(des.Descr,Col .name) ColDesc, Col .name into #ACR2Temp
from sys .all_columns Col Inner join sys .tables tbl on Col .object_id = tbl .object_id 
left outer join CUFD des on des.TableID = tbl.name and   Col .name =  'U_'+ des.AliasID  
where tbl .name = 'ACR2' and Col .name Not in ('CreateDate','UpdateDate','LogInstanc','UserSign2','UserSign')

Select Row_Number() over (order by Col .name asc) as id,   isnull(des.Descr,Col .name) ColDesc, Col .name into #ACPRTemp
from sys .all_columns Col Inner join sys .tables tbl on Col .object_id = tbl .object_id 
left outer join CUFD des on des.TableID = tbl.name and   Col .name =  'U_'+ des.AliasID  
where tbl .name = 'ACPR' and Col .name Not in ('CreateDate','UpdateDate','LogInstanc','UserSign2','UserSign','updateTime','Active','DataSource',
'NFeRcpn','Notes1','Notes2','ObjType','Pager','Password','Position','Profession','CardCode','CntctCode','Gender','e_Payment','AcctName')

select ACR1 .CardCode ,ACR1 .LineNum ,MAX (ACR1.LogInstanc) as LogInstanc into TempCRD1
from ACR1 where ACR1 .CardCode >= @FromCardcode and ACR1 .CardCode <= @ToCardcode group by ACR1 .CardCode ,ACR1 .LineNum 

select ACRD .CardCode ,MAX (ACRD.LogInstanc) as LogInstanc into TempACRD
from ACRD where ACRD .CardCode >= @FromCardcode and ACRD .CardCode <= @ToCardcode  group by ACRD .CardCode

select ACRD .CardCode ,ACRD.LogInstanc as LogInstanc into TempACR
from ACRD where ACRD .CardCode >= @FromCardcode and ACRD .CardCode <= @ToCardcode  and ACRD.UpdateDate between @FromDate and @ToDate  
and loginstanc = (select MAX(T0.LogInstanc) from ACRD  T0 where ACRD.CardCode = T0.CardCode )

Select OCRD .LogInstanc+1 as LogInstanc,OCRD .CreateDate  as [Date],OCRD .CardCode as [BP Code],OCRD .CardName as [BP Name],
Case when CardType = 'C' then 'Customer' when CardType = 'S' then 'Vendor' else 'Lead' end [BP Type],
OUSR .U_NAME as [Created By],Convert(Nvarchar(MAX),null) as [Field Name],Convert (Nvarchar(MAX),'***Created***') as [Old Value],Convert (Nvarchar(MAX),null) as [New Value] into TempOCRD
from OCRD inner join OUSR on OCRD .UserSign = OUSR .INTERNAL_K 
where OCRD .CardCode >= @FromCardcode and  OCRD .CardCode <= @ToCardcode and 
Convert(Nvarchar(8), OCRD .CreateDate ,112) >= Convert(Nvarchar(8),  @FromDate ,112) and Convert(Nvarchar(8), OCRD .UpdateDate  ,112) <= Convert(Nvarchar(8),  @ToDate ,112);


Select OCRD .LogInstanc+1 as LogInstanc,OCRD .CreateDate  as [Date],OCRD .CardCode as [BP Code],OCRD .CardName as [BP Name],
Case when CardType = 'C' then 'Customer' when CardType = 'S' then 'Vendor' else 'Lead' end [BP Type],
OUSR .U_NAME as [Created By],Convert(Nvarchar(MAX),null) as [Field Name],Convert (Nvarchar(MAX),'***Created***') as [Old Value],Convert (Nvarchar(MAX),null) as [New Value] into TempOCRDPerson
from OCRD inner join OUSR on OCRD .UserSign = OUSR .INTERNAL_K 
where OCRD .CardCode >= @FromCardcode and  OCRD .CardCode <= @ToCardcode and 
Convert(Nvarchar(8), OCRD .CreateDate ,112) >= Convert(Nvarchar(8),  @FromDate ,112) and Convert(Nvarchar(8), OCRD .UpdateDate  ,112) <= Convert(Nvarchar(8),  @ToDate ,112);


Select OCRD .LogInstanc+1 as Seq ,OCRD .LogInstanc+1 as LogInstanc,OCRD .CreateDate  as [Date],OCRD .CardCode as [BP Code],OCRD .CardName as [BP Name],
Case when CardType = 'C' then 'Customer' when CardType = 'S' then 'Vendor' else 'Lead' end [BP Type],
OUSR .U_NAME as [Created By],Convert(Nvarchar(MAX),null) as [Field Name],Convert (Nvarchar(MAX),'***Created***') as [Old Value],Convert (Nvarchar(MAX),null) as [New Value] into TempARPC
from OCRD inner join OUSR on OCRD .UserSign = OUSR .INTERNAL_K 
where OCRD .CardCode >= @FromCardcode and  OCRD .CardCode <= @ToCardcode and 
Convert(Nvarchar(8), OCRD .CreateDate ,112) >= Convert(Nvarchar(8),  @FromDate ,112) and Convert(Nvarchar(8), OCRD .UpdateDate ,112) <= Convert(Nvarchar(8),  @ToDate ,112);

Declare @Count int,@Counter int,@ColName Nvarchar (100), @Query Nvarchar(max), @ColDesc Nvarchar (100), @Tmpcal NVarchar(10), @ColumnOLD NVarchar(200), @ColumnNEW NVarchar(200) ;

Set @Count = (Select MAX (#OCRDTemp .id) from #OCRDTemp);
Set @Counter = 1;

While (@Counter <= @Count)

Begin

	Set @Query = '';

	Set @ColName = (Select top 1 Name from #OCRDTemp  where id = @Counter);
	Set @ColDesc = (Select top 1 ColDesc from #OCRDTemp  where id = @Counter)

	Set @Query = 'Insert into TempOCRD Select T0 .LogInstanc+1,T1 .UpdateDate  as [Date],T0 .CardCode as [BP Code],T0 .CardName as [BP Name],
	Case when T0 .CardType = ''C'' then ''Customer'' when T0 .CardType = ''S'' then ''Vendor'' else ''Lead'' end [BP Type],
	OUSR .U_NAME as [Created By],'''+ @ColDesc +''' as [Field Name],convert(Nvarchar(MAX),T0 .'+@ColName+',106) as [Old Value],Convert(Nvarchar(MAX),T1 .'+@ColName+',106) as [New Value]
	from ACRD T0 inner join ACRD T1 on T0 .CardCode = T1 .CardCode and T0 .LogInstanc = T1 .LogInstanc -1
	left outer join OUSR on T1 .UserSign2 = OUSR .INTERNAL_K 
	where  T0 .CardCode >= '''+@FromCardcode+''' and  T0 .CardCode <= '''+@ToCardcode+''' and   
	isnull(convert(Nvarchar(MAX),T0 .'+@ColName+',106) ,'''') <> isnull(convert(Nvarchar(MAX),T1 .'+@ColName+',106),'''')';
	
	--print @query
Exec(@Query)

Set @Query = 'Insert into TempOCRD Select T1 .LogInstanc+1,T0 .UpdateDate  as [Date],T0 .CardCode as [BP Code],T0 .CardName as [BP Name],
Case when T0 .CardType = ''C'' then ''Customer'' when T0 .CardType = ''S'' then ''Vendor'' else ''Lead'' end [BP Type],
OUSR .U_NAME as [Created By],'''+ @ColDesc +''' as [Field Name],convert(Nvarchar(MAX),T1 .'+@ColName+',106) as [Old Value],Convert(Nvarchar(MAX),T0 .'+@ColName+',106) as [New Value]
from OCRD T0 inner join ACRD T1 on T0 .CardCode = T1 .CardCode 
inner join TempACRD T2 on T0.Cardcode = T2 .Cardcode and T1 .LogInstanc = T2.LogInstanc
left outer join OUSR on T0 .UserSign2 = OUSR .INTERNAL_K 
where  T0 .CardCode >= '''+@FromCardcode+''' and  T0 .CardCode <= '''+@ToCardcode+''' and  
isnull(convert(Nvarchar(MAX),T0 .'+@ColName+',106) ,'''') <> isnull(convert(Nvarchar(MAX),T1 .'+@ColName+',106),'''')';
--print @query
Exec(@Query)

Set @Counter = @Counter + 1;
End 


Set @Count = (Select MAX (#CRD1Temp .id) from #CRD1Temp);
Set @Counter = 1;

While (@Counter <= @Count)

Begin
	Set @Query = '';
	Set @ColName = (Select top 1 Name from #CRD1Temp  where id = @Counter);
	Set @ColDesc = (Select top 1 ColDesc from #CRD1Temp  where id = @Counter)

	Set @Query = 'Insert into TempOCRD Select distinct ACRD .LogInstanc,ACRD .UpdateDate  as [Date],ACRD .CardCode as [BP Code],ACRD .CardName as [BP Name],
Case when ACRD .CardType = ''C'' then ''Customer'' when ACRD .CardType = ''S'' then ''Vendor'' else ''Lead'' end [BP Type],
OUSR .U_NAME as [Created By],T1.Address+''-''+'''+ @ColDesc +''' as [Field Name],convert(Nvarchar(MAX),T0 .'+@ColName+',106) as [Old Value]
,Convert(Nvarchar(MAX),T3 .'+@ColName+',106) as [New Value]
from ACRD left outer join OUSR on ACRD .UserSign2 = OUSR .INTERNAL_K 
inner join ACR1 T0 on ACRD .Cardcode = T0 . Cardcode 
inner join ACR1 T1 on T0 .CardCode = T1 .CardCode and T0.Linenum = T1.Linenum and T0 .LogInstanc = T1 .LogInstanc 
 and ACRD .LogInstanc = (select MAX(loginstanc) from ACR1 where Address = T1.Address)
inner join CRD1 T3 on T3.CardCode = T1.CardCode and T1.LineNum = T3.LineNum 
where  T0 .CardCode >= '''+@FromCardcode+''' and  T0 .CardCode <= '''+@ToCardcode+'''  
--and isnull(convert(Nvarchar(MAX),T0 .'+@ColName+',106) ,'''') <> isnull(convert(Nvarchar(MAX),T1 .'+@ColName+',106),'''')
union
select distinct vw.LogInstanc,vw.Date,vw.[BP Code],vw.[BP Name],vw.[BP Type],vw.[Created By],vw.[Field Name],vw.[Old Value],vw.[New value] from (
Select T2 .LogInstanc,OCRD .UpdateDate  as [Date],OCRD .CardCode as [BP Code],OCRD .CardName as [BP Name],
Case when OCRD .CardType = ''C'' then ''Customer'' when OCRD .CardType = ''S'' then ''Vendor'' else ''Lead'' end [BP Type],
OUSR .U_NAME as [Created By],T2.Address +''-''+'''+ @ColDesc +''' as [Field Name],
'''' [Old Value]
,case  when isnull(convert(Nvarchar(MAX),T2 .'+@ColName+',106) ,'''') <> isnull(convert(Nvarchar(MAX),T1 .'+@ColName+',106),'''')
then Convert(Nvarchar(MAX),T2 .'+@ColName+',106) else '''' end  [New value]
--,isnull(Convert(Nvarchar(MAX),T1 .'+@ColName+',106),'''')[Filter]
,(select  count(Convert(Nvarchar(MAX),'+@ColName+',106)) from ACR1 
where Convert(Nvarchar(MAX),'+@ColName+',106) = Convert(Nvarchar(MAX),T2 .'+@ColName+',106) and cardcode = T2.cardcode  and Address = T2.Address) [Filter]
from OCRD left outer join OUSR on OCRD .UserSign2 = OUSR .INTERNAL_K 
left join  CRD1 T2 on OCRD .Cardcode = T2 . Cardcode 
left join ACR1 T0 on OCRD .Cardcode = T0 . Cardcode 
left join ACR1 T1 on T0 .CardCode = T1 .CardCode and T0.Linenum = T1.Linenum and T0 .LogInstanc = T1 .LogInstanc -1
 --and ACRD .LogInstanc = T1.LogInstanc
where  T2 .CardCode >= '''+@FromCardcode+''' and  T2 .CardCode <= '''+@ToCardcode+''' 
--AND convert(Nvarchar(MAX),T1 .'+@ColName+',106) not in (select convert(Nvarchar(MAX),'+@ColName+',106) 
--from CRD1 where CardCode >= '''+@FromCardcode+''' and CardCode <= '''+@ToCardcode+''')


) as vw where vw.[New value] <> '''' and vw.Filter = 0';
--print @query

Exec(@Query)

	Set @Query = 'Insert into TempOCRD Select t1 .LogInstanc+1 ,OCRD .UpdateDate  as [Date],OCRD .CardCode as [BP Code],OCRD .CardName as [BP Name],
Case when OCRD .CardType = ''C'' then ''Customer'' when OCRD .CardType = ''S'' then ''Vendor'' else ''Lead'' end [BP Type],
OUSR .U_NAME as [Created By],T0.Address+''-''+'''+ @ColDesc +''' as [Field Name],convert(Nvarchar(MAX),T1 .'+@ColName+',106) as [Old Value],Convert(Nvarchar(MAX),T0 .'+@ColName+',106) as [New Value]
from OCRD Left outer join OUSR on OCRD .UserSign2 = OUSR .INTERNAL_K 
inner join CRD1 T0 on OCRD .Cardcode = T0 . Cardcode 
inner join ACR1 T1 on T0 .CardCode = T1 .CardCode and T0.Linenum = T1.Linenum 
inner join TempCrd1 T2 on OCRD .Cardcode = T2 .Cardcode and T1 .LogInstanc = T2 .LogInstanc and T0 .Linenum = T2.LineNum
where T0 .CardCode >= '''+@FromCardcode+''' and  T0 .CardCode <= '''+@ToCardcode+''' and  
isnull(convert(Nvarchar(MAX),T0 .'+@ColName+',106) ,'''') <> isnull(convert(Nvarchar(MAX),T1 .'+@ColName+',106),'''')';

Exec(@Query)

Set @Counter = @Counter + 1;

End 

Set @Count = (Select max (TempACR.LogInstanc ) from TempACR);
Set @Counter = (Select min (TempACR.LogInstanc ) from TempACR);

While (@Counter <= @Count)

Begin
	Set @Query = ''
	set @Tmpcal = @Counter

	

set @Query = 'Insert into TempOCRD Select ACRD .LogInstanc,ACRD .UpdateDate  as [Date],ACRD .CardCode as [BP Code],ACRD .CardName as [BP Name],
Case when ACRD .CardType = ''C'' then ''Customer'' when ACRD .CardType = ''S'' then ''Vendor'' else ''Lead'' end [BP Type],
OUSR .U_NAME as [Created By],''PymCode'' as [Field Name],
--(select PymCode from ACR2 TT where TT.CardCode = ACRD.CardCode and  TT.LogInstanc = ACRD .LogInstanc -1 and TT.LineNum = 0) as [Old Value], 
--(select PymCode from ACR2 TT where TT.CardCode = ACRD.CardCode and  TT.LogInstanc = ACRD.LogInstanc and TT.LineNum = 0) as [New Value]

case when (select top 1 isnull(PymCode,'''') from ACR2 TT where TT.CardCode = ACRD.CardCode and  TT.LogInstanc = ACRD.LogInstanc and TT.LineNum = 0) <> '''' then 
(select top 1 PymCode from ACR2 TT where TT.CardCode = ACRD.CardCode and  TT.LogInstanc = ACRD.LogInstanc and TT.LineNum = 0) 
else (select top 1    PymCode from ACR2 TT 
where TT.CardCode = ACRD.CardCode and  TT.LogInstanc = ACRD.LogInstanc-1 and TT.LineNum = 0) end
as [Old Value], 
(select top 1 PymCode from CRD2 TT where TT.CardCode = ACRD.CardCode and TT.LineNum = 0) as [New Value]
from ACRD left outer join OUSR on ACRD .UserSign2 = OUSR .INTERNAL_K 
where ACRD .CardCode >= '''+@FromCardcode+''' and  ACRD .CardCode <= '''+@ToCardcode+''' and  ACRD .LogInstanc = '''+@Tmpcal+''''

--exec(@Query)
--PRINT @Query
set @Query = 'Insert into TempOCRD Select ACRD .LogInstanc,ACRD .UpdateDate  as [Date],ACRD .CardCode as [BP Code],ACRD .CardName as [BP Name],
Case when ACRD .CardType = ''C'' then ''Customer'' when ACRD .CardType = ''S'' then ''Vendor'' else ''Lead'' end [BP Type],
OUSR .U_NAME as [Created By],''PymCode'' as [Field Name],
--(select PymCode from ACR2 TT where TT.CardCode = ACRD.CardCode and  TT.LogInstanc = ACRD .LogInstanc -1 and TT.LineNum = 1) as [Old Value], 
--(select PymCode from ACR2 TT where TT.CardCode = ACRD.CardCode and  TT.LogInstanc = ACRD.LogInstanc and TT.LineNum = 1) as [New Value]

case when (select top 1 isnull(PymCode,'''') from ACR2 TT where TT.CardCode = ACRD.CardCode and  TT.LogInstanc = ACRD.LogInstanc and TT.LineNum = 1) <> '''' then 
(select top 1 PymCode from ACR2 TT where TT.CardCode = ACRD.CardCode and  TT.LogInstanc = ACRD.LogInstanc and TT.LineNum = 1) 
else (select top 1 PymCode from ACR2 TT 
where TT.CardCode = ACRD.CardCode and  TT.LogInstanc = ACRD.LogInstanc-1 and TT.LineNum = 1) end
as [Old Value], 
(select top 1 PymCode from CRD2 TT where TT.CardCode = ACRD.CardCode and TT.LineNum = 1) as [New Value]
from ACRD left outer join OUSR on ACRD .UserSign2 = OUSR .INTERNAL_K 
where ACRD .CardCode >= '''+@FromCardcode+''' and  ACRD .CardCode <= '''+@ToCardcode+''' and ACRD .LogInstanc = '''+@Tmpcal+''''

--exec(@Query)

set @Query = 'Insert into TempOCRD Select ACRD .LogInstanc,ACRD .UpdateDate  as [Date],ACRD .CardCode as [BP Code],ACRD .CardName as [BP Name],
Case when ACRD .CardType = ''C'' then ''Customer'' when ACRD .CardType = ''S'' then ''Vendor'' else ''Lead'' end [BP Type],
OUSR .U_NAME as [Created By],''PymCode'' as [Field Name],
--(select PymCode from ACR2 TT where TT.CardCode = ACRD.CardCode and  TT.LogInstanc = ACRD .LogInstanc -1 and TT.LineNum = 2) as [Old Value], 
--(select PymCode from ACR2 TT where TT.CardCode = ACRD.CardCode and  TT.LogInstanc = ACRD.LogInstanc and TT.LineNum = 2) as [New Value]

case when (select top 1 isnull(PymCode,'''') from ACR2 TT where TT.CardCode = ACRD.CardCode and  TT.LogInstanc = ACRD.LogInstanc and TT.LineNum = 2) <> '''' then 
(select top 1 PymCode from ACR2 TT where TT.CardCode = ACRD.CardCode and  TT.LogInstanc = ACRD.LogInstanc and TT.LineNum = 2) 
else (select top 1 PymCode from ACR2 TT 
where TT.CardCode = ACRD.CardCode and  TT.LogInstanc = ACRD.LogInstanc-1 and TT.LineNum = 2) end
as [Old Value], 
(select top 1 PymCode from CRD2 TT where TT.CardCode = ACRD.CardCode and TT.LineNum = 2) as [New Value]

from ACRD left outer join OUSR on ACRD .UserSign2 = OUSR .INTERNAL_K 
where ACRD .CardCode >= '''+@FromCardcode+''' and  ACRD .CardCode <= '''+@ToCardcode+''' and ACRD .LogInstanc = '''+@Tmpcal+''''
exec(@Query)
--print  @Query

set @Query = 'Insert into TempOCRD Select ACRD .LogInstanc,ACRD .UpdateDate  as [Date],ACRD .CardCode as [BP Code],ACRD .CardName as [BP Name],
Case when ACRD .CardType = ''C'' then ''Customer'' when ACRD .CardType = ''S'' then ''Vendor'' else ''Lead'' end [BP Type],
OUSR .U_NAME as [Created By],''PymCode'' as [Field Name],
--(select PymCode from ACR2 TT where TT.CardCode = ACRD.CardCode and  TT.LogInstanc = ACRD .LogInstanc -1 and TT.LineNum = 3) as [Old Value], 
--(select PymCode from ACR2 TT where TT.CardCode = ACRD.CardCode and  TT.LogInstanc = ACRD.LogInstanc and TT.LineNum = 3) as [New Value]

case when (select top 1 isnull(PymCode,'''') from ACR2 TT where TT.CardCode = ACRD.CardCode and  TT.LogInstanc = ACRD.LogInstanc and TT.LineNum = 3) <> '''' then 
(select top 1 PymCode from ACR2 TT where TT.CardCode = ACRD.CardCode and  TT.LogInstanc = ACRD.LogInstanc and TT.LineNum = 3) 
else (select top 1 PymCode from ACR2 TT 
where TT.CardCode = ACRD.CardCode and  TT.LogInstanc = ACRD.LogInstanc-1 and TT.LineNum = 3) end
as [Old Value], 
(select top 1 PymCode from CRD2 TT where TT.CardCode = ACRD.CardCode and TT.LineNum = 3) as [New Value]

from ACRD left outer join OUSR on ACRD .UserSign2 = OUSR .INTERNAL_K 
where ACRD .CardCode >= '''+@FromCardcode+''' and  ACRD .CardCode <= '''+@ToCardcode+'''  and ACRD .LogInstanc = '''+@Tmpcal+''''

exec(@Query)
--print  @Query
Set @Counter = @Counter + 1;
End 

Set @Count = (Select max (TempACR.LogInstanc ) from TempACR);
Set @Counter = (Select min (TempACR.LogInstanc ) from TempACR);

While (@Counter <= @Count)

Begin
	Set @Query = ''
	set @Tmpcal = @Counter
	
	if @Counter < @Count 
	begin
	 set @ColumnOLD = 'select top 1 AcctName from acrb TT where TT.CardCode = ACRD.CardCode and  TT.LogInstanc = ACRD .LogInstanc -1'
	 set @ColumnNEW = 'select top 1 AcctName from acrb TT where TT.CardCode = ACRD.CardCode and  TT.LogInstanc = ACRD.LogInstanc'
	end
	if @Counter = @Count 
	begin
	 set @ColumnOLD = 'select top 1 AcctName from acrb TT where TT.CardCode = ACRD.CardCode and  TT.LogInstanc = ACRD .LogInstanc'
	 set @ColumnNEW = 'select top 1 AcctName from ocrb TT where TT.CardCode = ACRD.CardCode'
	end

set @Query = 'Insert into TempOCRD Select ACRD .LogInstanc,ACRD .UpdateDate  as [Date],ACRD .CardCode as [BP Code],ACRD .CardName as [BP Name],
	Case when ACRD .CardType = ''C'' then ''Customer'' when ACRD .CardType = ''S'' then ''Vendor'' else ''Lead'' end [BP Type],
	OUSR .U_NAME as [Created By],''AcctName'' as [Field Name],
	('+ @ColumnOLD +' ) as [Old Value], 
	('+ @ColumnNEW +' ) as [New Value]
	from ACRD left outer join OUSR on ACRD .UserSign2 = OUSR .INTERNAL_K 
	where ACRD .CardCode >= '''+@FromCardcode+''' and  ACRD .CardCode <= '''+@ToCardcode+''' and ACRD .LogInstanc = '''+@Tmpcal+'''
	'
exec(@Query)
Set @Counter = @Counter + 1;
End 

Set @Count = (Select MAX (#ACPRTemp .id) from #ACPRTemp);
Set @Counter = 1;

While (@Counter <= @Count)

Begin
	Set @Query = '';
	Set @ColName = (Select Name from #ACPRTemp  where id = @Counter);
	Set @ColDesc = (Select ColDesc from #ACPRTemp  where id = @Counter)

--	Set @Query = 'Insert into TempOCRD Select ACRD .LogInstanc,ACRD .UpdateDate  as [Date],ACRD .CardCode as [BP Code],ACRD .CardName as [BP Name],
--Case when ACRD .CardType = ''C'' then ''Customer'' when ACRD .CardType = ''S'' then ''Vendor'' else ''Lead'' end [BP Type],
--OUSR .U_NAME as [Created By],'''+ @ColDesc +''' as [Field Name],convert(Nvarchar(MAX),T0 .'+@ColName+',106) as [Old Value],Convert(Nvarchar(MAX),T1 .'+@ColName+',106) as [New Value]
--from ACRD left outer join OUSR on ACRD .UserSign2 = OUSR .INTERNAL_K 
--inner join ACPR T0 on ACRD .Cardcode = T0 . Cardcode 
--inner join ACPR T1 on T0 .CardCode = T1 .CardCode and T0 .LogInstanc = T1 .LogInstanc -1 and ACRD .LogInstanc = T1.LogInstanc --and T0.Name = T1.Name 
--where  T0 .CardCode >= '''+@FromCardcode+''' and  T0 .CardCode <= '''+@ToCardcode+''' and 
--Convert(Nvarchar(8), ACRD .UpdateDate ,112)  >= '''+Convert(Nvarchar(8),  @FromDate ,112)+''' AND 
--Convert(Nvarchar(8), ACRD .UpdateDate ,112)  <= '''+Convert(Nvarchar(8),  @ToDate ,112)+''' AND 
--isnull(convert(Nvarchar(MAX),T0 .'+@ColName+',106) ,'''') <> isnull(convert(Nvarchar(MAX),T1 .'+@ColName+',106),'''')';


SET @Query = '; WITH T1 AS(SELECT DISTINCT T1 .LogInstanc,T0 .UpdateDate  as [Date],T0 .CardCode as [BP Code],T3 .CardName as [BP Name],
Case when T3 .CardType = ''C'' then ''Customer'' when T3 .CardType = ''S'' then ''Vendor'' else ''Lead'' end [BP Type],
T4 .U_NAME as [Created By],'''+ @ColDesc +''' as [Field Name],
-- case when 
--(select max(LogInstanc) from ACPR TT where TT.CardCode = T0.CardCode  and TT.CntctCode = T1.CntctCode 
--and TT.updateDate = T1.updateDate) = T1.LogInstanc then Convert(Nvarchar(MAX),T1 .'+@ColName+',106)
-- else ''''
-- end 
--  AS [Old Value]
(select '+@ColName+' from ACPR TT where  TT.CntctCode = T1.CntctCode 
and TT.updateDate = T1.updateDate and LogInstanc = (select MAX(logInstanc)-1 from ACPR where ACPR.CntctCode = T1.CntctCode 
and ACPR.updateDate = T1.updateDate)) [Old Value],
  convert(Nvarchar(MAX),T0 .'+@ColName+',106) AS [New Value]
  FROM OCPR T0
INNER JOIN ACPR T5 ON T5.CardCode = T0.CardCode
LEFT JOIN ACPR T1 ON T1.CntctCode = T0.CntctCode
LEFT JOIN ACPR T2 ON T2.CntctCode = T1.CntctCode and T1.LogInstanc = T2.LogInstanc-1
LEFT JOIN ACRD T3 ON T3.CardCode = T1.CardCode AND T3.UpdateDate = T1.updateDate
LEFT JOIN OUSR T4 on T3 .UserSign2 = T4 .INTERNAL_K
WHERE  
T1.CntctCode = T0.CntctCode AND
--T1. '+@ColName+' <> T0. '+@ColName+' AND 
T0 .CardCode >= '''+@FromCardcode+''' and  T0 .CardCode <= '''+@ToCardcode+''' 
-- and
--Convert(Nvarchar(8), T0 .UpdateDate ,112)  >= '''+Convert(Nvarchar(8),  @FromDate ,112)+''' AND 
--Convert(Nvarchar(8), T0 .UpdateDate ,112)  <= '''+Convert(Nvarchar(8),  @ToDate ,112)+'''  
--AND T0.updateDate between ''2016-09-20'' and ''2016-09-20'' 
--AND isnull(convert(Nvarchar(MAX),T0 .'+@ColName+',106) ,'''') <> isnull(convert(Nvarchar(MAX),T1 .'+@ColName+',106),'''')
--AND MAX(T3.LogInstanc) = MAX(T3.LogInstanc)
AND T1.LogInstanc = (select max(LogInstanc) from ACPR TT where TT.CardCode = T0.CardCode  and TT.CntctCode = T1.CntctCode 
--and TT.updateDate = T0.updateDate
) 
group by T1.CntctCode, T0.CardCode,T3.LogInstanc,T1.LogInstanc,T0.updateDate,
T1.updateDate,T3 .CardName,T3 .CardType,T4 .U_NAME , T1. '+@ColName+', T0. '+@ColName+', T2.'+@ColName+'

union 
Select vw.LogInstanc,vw.updateDate,vw.CardCode,vw.CardName,vw.[BP Type],vw.[Created By],vw.[Field Name],vw.[OldValue],vw.[New Value] from (
Select Distinct T0.[LogInstanc],T0.updateDate,T3.CardCode,T3.CardName, 
Case when T3 .CardType = ''C'' then ''Customer'' when T3 .CardType = ''S'' then ''Vendor'' else ''Lead'' end [BP Type],
T4 .U_NAME as [Created By],'''+ @ColDesc +''' as [Field Name],
isNull(Convert(Nvarchar(MAX),T0 .'+@ColName+',106),'''')  [New Value],isNull(Convert(Nvarchar(MAX),T1 .'+@ColName+',106),'''') [FilterName],'''' [OldValue] FROM  OCPR T0
LEFT JOIN ACPR T1 ON T1.CntctCode = T0.CntctCode
LEFT JOIN ACPR T2 ON T2.CntctCode = T1.CntctCode and T1.LogInstanc = T2.LogInstanc-1
LEFT JOIN OCRD T3 ON T3.CardCode = T0.CardCode 
LEFT JOIN OUSR T4 on T3 .UserSign2 = T4 .INTERNAL_K
Where T0 .CardCode >= '''+@FromCardcode+''' and  T0 .CardCode <= '''+@ToCardcode+'''   
--and Convert(Nvarchar(8), T0 .UpdateDate ,112)  >= '''+Convert(Nvarchar(8),  @FromDate ,112)+''' AND 
--Convert(Nvarchar(8), T0 .UpdateDate ,112)  <= '''+Convert(Nvarchar(8),  @ToDate ,112)+''' 
--AND T0.updateDate  between ''2016-09-20'' and ''2016-09-20''  

) as vw where vw.FilterName = '''' and vw.CardCode <> ''''
)
Insert into TempOCRD
SELECT * FROM T1 WHERE LogInstanc IN (SELECT LogInstanc FROM T1)'

--print @query

Exec(@Query)

Set @Counter = @Counter + 1;
End 
--Insert  into TempOCRD select * from TempOCRDPerson

Delete from TempOCRD where [Old Value] = '-1' and [New Value] = '-1'
--Delete from TempOCRD where ISNULL([Old Value],'') = ISNULL([New Value],'')

Select T0.LogInstanc , T0.Date , T0.[BP Code], T0.[BP Name] , T0.[BP Type] ,T0.[Created By] ,
(case T0.[Field Name]
when 'Notes' then 'Remarks' 
when 'Free_Text' then 'Remarks Tab - Remarks'
when 'frozenFor' then 'In Active'
when 'validFor' then 'Active'
when 'VatIdUnCmp' then 'Business Registration Number'
when 'ECVatGroup' then 'GST Code'
when 'Bill to-Block' then 'Block'
when 'Bill to-Building' then 'Building/Floor/Room'
when 'Bill to-City' then 'City'
when 'Bill to-Country' then 'Country'
when 'Bill to-County' then 'County'
when 'Bill to-Street' then 'Street / PO Box'
when 'Bill to-ZipCode' then 'Postcode'
when 'Bill to:-Block' then 'Block'
when 'Bill to:-Building' then 'Building/Floor/Room'
when 'Bill to:-City' then 'City'
when 'Bill to:-Country' then 'Country'
when 'Bill to:-County' then 'County'
when 'Bill to:-Street' then 'Street / PO Box'
when 'Bill to:-ZipCode' then 'Postcode'
when 'HousBnkAct' then 'Account'
when 'IntrntSite' then 'Web Site'
when 'LicTradNum' then 'GST Number'
when 'MandateID' then 'Sort code'
when 'Phone1' then 'Tel. 1'
when 'Phone2' then 'Tel. 2'
when 'PymCode' then 'e_Payment'
when 'BankCode' then 'Bank Code'
when 'BankCountr' then 'Bank Country' 
when 'CardName' then 'Name'
when 'Cellular' then 'Mobile Phone'
when 'CntctPrsn' then 'Contact ID'
when 'DflAccount' then 'Account'
when 'DflBranch' then 'Branch'
when 'DflIBAN' then 'IBAN/ABA'
when 'DflSwift' then 'BIC/SWIFT Code'
when 'DflBankKey' then 'Default Bank Key'
when 'BankCtlKey' then 'Ctrl Int. ID'
when 'GroupNum' then 'Payment Terms Code'
when 'SlpCode' then 'Buyer'
when 'IndustryC' then 'Industry'
when 'FrozenComm' then 'Remarks'
else T0.[Field Name]
end) [Field Name]
 , 
 (case 
   when T0.[Field Name] = 'SlpCode' then (SELECT top 1 TT0.[SlpName] FROM OSLP TT0 where TT0.[SlpCode] = T0.[Old Value]) 
   when T0.[Field Name] = 'GroupNum' then (SELECT top 1   TT0.[PymntGroup] FROM OCTG TT0 where TT0.[GroupNum] = T0.[Old Value])
   else iSNULL(T0.[Old Value],'') end) [Old Value],
(case 
     when T0.[Field Name] = 'SlpCode' then (SELECT top 1 TT0.[SlpName] FROM OSLP TT0 where TT0.[SlpCode] = T0.[New Value]) 
	 when T0.[Field Name] = 'GroupNum' then (SELECT top 1 TT0.[PymntGroup] FROM OCTG TT0 where TT0.[GroupNum] = T0.[New Value])
	 else ISNULL(T0.[New Value],'') end) [New Value]
into TempOCRDF
from TempOCRD T0 
order by T0.[BP Code], T0.LogInstanc   asc 
Delete from TempOCRDF where [New Value] = ''
Delete from TempOCRDF where [New Value] = '-1'
Delete from TempOCRDF where [Old Value] = '-1'
Delete from TempOCRDF where [Old Value] = [New Value]

select distinct * from TempOCRDF T0 
where T0.Date between @FromDate and @ToDate 
group by T0.LogInstanc , T0.Date , T0.[BP Code],T0.[BP Name]  ,T0.[BP Type] ,T0.[Created By], T0.[Field Name],
T0.[Old Value] , T0.[New Value]    
order by t0.[BP Code] , T0.[Date] desc

--select * from  TempOCRDPerson
--select * from  TempOCRD

Drop Table TempOCRDPerson
Drop Table #OCRDTemp
Drop Table #CRD1Temp
Drop Table TempOCRD
drop table TempACRD 
drop table TempCRD1
drop table TempACR
drop table TempOCRDF
drop table #ACR2Temp 
drop table #ACPRTemp
drop table TempARPC 
END